div.layout-main nav.app-top {
	margin-bottom: 0;
	background-color: black;
}

nav.app-top .navbar-brand .brand-group {
	display: flex;
}

nav.app-top .navbar-brand .brand-group .brand-name {
	font-size: 12px;
	margin-left: 8px;
	color: white;
}

.wrap > .container {
	padding: 40px 20px 20px;
}

.breadcrumb > li + li:before {
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0";
}

// Menu link colors (standard is too dark)
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color: rgba(255, 255, 255, 0.9);
}
.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.75);
}
